div.sectionOfpage{
  width:100vw;
  height:100vh;
}
/* Just For FUn */
div#myCanvas{
  position: absolute;


}
div#section_1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
img#background{
  position: fixed;
  top:0;
  left: 0;
  min-width: 200px;
  z-index: -1;
  width:100vw;
  height:100vh;
  filter: brightness(30%);

}
div#section_2{
  background-color: white;
}
header#Header{
  background-color: white;
}

div#section_1 h1{
  font-size: 80px;
  letter-spacing: 18px;
  color:white;
  font-family: monospace;
}
div.section_2_component{
  width:400px;
  height:200px;
  margin:40px 0px 40px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
div#section_2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.section_2_component p {
  font-size: 20px;
}
footer{
  width:100vw;
  height:100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
img#twitter_picture{
  width:100px;
  height:100px;
  border-radius: 100px;
  border: 3px solid white;
}
footer h3{
  font-size: 80px;
  color: white;
  font-family: monospace;
  font-weight: lighter;


}
@media only screen and (min-device-width : 375px) and (max-device-width : 667px),(min-device-width : 320px) and (max-device-width : 568px),(min-device-width : 414px)
and (max-device-width : 736px),(min-device-width : 768px)and (max-device-width : 1024px)
 {

   div#section_1 h1{
     font-size: 35px;
     letter-spacing: 18px;
     color:white;
     font-family: monospace;
   }
   footer h3{
     font-size: 35px;
     color: white;
     font-family: monospace;
     font-weight: lighter;


   }
   img#twitter_picture{
     width:50px;
     height:50px;
     border-radius: 100px;
     border: 3px solid white;
   }

 }
 @media only screen and (min-device-width : 375px) and (max-device-width : 667px),(min-device-width : 320px) and (max-device-width : 568px),(min-device-width : 414px)
 and (max-device-width : 736px),(min-device-width : 768px)and (max-device-width : 1024px)
  {
    .title_news{
      font-size: 15px;
    }
    .source-news{
      font-size: 13px;
    }
    div#Stock-News{
      display: none;
      overflow-x:hidden;
    }
    div#stockFrame{
      width:100vw;
      min-height:100vh;
      height:auto;
      overflow-y: visible;
      overflow-x: auto;
    }

    html{
      overflow-x: hidden;
    }
    body{
      overflow-x: hidden;

    }

    div#MenuOfPage{
      display: block;
      position: relative;
      width:200px;
      right:80px;
      border: 1px solid black;
    }
    li.listoflink{
      display: none;
    }

    div#Stocker-Header{
      width: 100vw;
      height:80px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    div.container{
      width:350px;
      margin: 20px;
      height:auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

    }
    div.Chart_Stock_Wrapper{
      width:300px;
      height:400px;
      border: 1px solid green;
      margin: 20px;
      display: flex;
      justify-content: center;
      background-color: white;
      border-radius: 10px;


    }
    li.newsClass{
      position: relative;
      width: 100vw;
      right: 40px;
    }
    div.information-data{
      width:90vw;
    }
    a.title-news{
      font-size:12px;
    }
    div#theMarket{
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;


    }
    div#Manual-Stock{
      position: relative;
      left: 0;
      top: 0;
      font-family: monospace;

    }
    p#Stock-Price{
      font-size: 20px;
    }
    img#logo{
      width:120px;
      height:70px;
      margin-left: 90px;
      position: relative;
      top:3px;
      right:2px;
      padding: 1px;
      background:linear-gradient(180deg,rgba(123,217,161,1),rgba(233,0,0,0.4))
    }
    div#Menu_bar{
      display: block;
    }


  }
